{% extends 'portfolio/base.html' %}

{% block content %}

    <h1>Projects</h1>

    <a href="{% url 'blog:all_blogs' %}"">Blog</a>
    
    {% load static %}
    <img src="{% static 'portfolio/disney_28.jpg' %}" style="width: 100%;">
    
    {% for project in projects%}
    
    <h2>{{ project.title }}</h2>
    <p>{{ project.description }}</p>
    <img src="{{ project.image.url }}" width="25%" />
    {% if project.url %}
    <a href="{{ project.url}}"></a>Link</a>
    {% endif %}
    
    
    {% endfor %}
{% endblock %}