{% extends 'portfolio/base.html' %}

{% block content %}
    <h1>Santi Has Written {{ blogs.count }} blogs</h1>
    {% for blog in blogs%}
        <a href="{%url 'blog:detail' blog.id %}"><h2>Title: {{ blog.title }}</h2></a>
        <h3>{{ blog.content|striptags|truncatechars:100 }}</h3>
        <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
    {% endfor %}
{% endblock %}